{% extends 'base.html.twig' %}
{% block body %}
    <H1>{{ title }}</H1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam, aliquid aperiam consectetur
        corporis debitis deserunt dignissimos dolorem doloremque doloribus eligendi eos facere impedit iure libero magni
        molestiae numquam odit porro provident qui quis quisquam reiciendis sequi soluta tenetur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam, aliquid aperiam consectetur
        corporis debitis deserunt dignissimos dolorem doloremque doloribus eligendi eos facere impedit iure libero magni
        molestiae numquam odit porro provident qui quis quisquam reiciendis sequi soluta tenetur?</p>
{% endblock %}