{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 03/05/2018 à 19:00 dans la catégorie informatique</div>
        <div class="content"><img src="http://placehold.it/300x300" alt=""></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem error id ipsam nemo sunt ut.</p>
            <p>Adipisci amet animi beatae deleniti eius est id, molestias numquam odit omnis totam, ut voluptate.</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dicta perspiciatis placeat ratione
                ut.
                Ad alias commodi eaque, eum fugiat incidunt iste obcaecati optio tempora veniam. Adipisci asperiores
                consequuntur cupiditate distinctio eos eum fugiat harum illo ipsa ipsam iure minus molestiae odit
                pariatur
                quis recusandae, repellat vel vitae, voluptate voluptatibus!</p>
            <p>Accusantium aperiam, blanditiis cupiditate error fugit magni, nisi optio quae quisquam repellendus
                sapiente
                vel veniam! Cumque doloremque ea excepturi in mollitia quaerat? Aperiam cum cumque deserunt dignissimos
                distinctio esse fugiat, harum illum ipsum labore laborum libero neque nisi officia quae, qui quidem
                quisquam
                quo reiciendis saepe sequi suscipit totam voluptates?</p>
        </article>

{% endblock %}
